data_zoo
weight
*.pyc
sss.py
ttt.py
*/__pycache__
*/__pycache__/*
__pycache__/*
runs/*
remove_sufix.py
rrr.py
trainpt.py
deal_dataset/count_img.py
OSM/dataset_obb.py
OSM/sam/modeling/prompt_encoder_obb.py
OSM/sam/modeling/image_encoder ori.py
.vscode/launch.json
OSM/datasetrdy.py
depth_global_info.py
movevalimg.py
OSM/sam/build_sam ori.py
09180114/
09181127/
float16.py
09181511/
finetunePCB/
09181127PCBresult/
09190100/
finaltrialof pcb/
unfreeze_early_layers/
imagenet1k_train_cocobox.json
genmymask/imagenet_val_SAM.json
09212110goodRGBD/
09221510goodrgbd/
09221510goodrgbdfreezevit/
09231514distillvittiny/
09232014rightdistilll/
distillresultvisual/
09241200unfreezemoreandbl/